<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-block">
    <ul>
      <li><b>Author:</b> <a href="https://github.com/aitoribanez" target="_blank">Aitor Ibañez</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/aitoribanez/ng2EntityRestServiceProvider" target="_blank">project repository</a></li>
      <li><b>Tools used:</b></li>
      <ul>
        <li><a href="https://github.com/typicode/json-server" target="_blank">json-server</a></li>
        <li><a href="https://www.angular.io" target="_blank">Angular 2</a></li>
        <li><a href="https://www.nodejs.org" target="_blank">Node.js</a></li>
        <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
        <li><a href="http://materializecss.com" target="_blank">Materializecss</a></li>
      </ul>
    </ul>
  </div>
</div>