<div class="container">
  <div class="row">
     <a [routerLink]="['/']" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a [routerLink]="['/about']" class="nav-item nav-link">
        <i class="fa fa-info-circle"></i> About
      </a>
      <a [routerLink]="['/product/new']" class="nav-item nav-link">
        <i class="fa fa-info-circle"></i> New product
      </a>
       <a [routerLink]="['/templatedriven1way']" class="nav-item nav-link">
        <i class="fa fa-info-circle"></i> Template Driven 1 Way data binding (field --> model)
      </a>
       <a [routerLink]="['/templatedriven2way']" class="nav-item nav-link">
        <i class="fa fa-info-circle"></i> Template Driven 2 Way data binding
      </a>
      <a [routerLink]="['/codedriven']" class="nav-item nav-link">
        <i class="fa fa-info-circle"></i> Code Driven
      </a>
  </div>

  <div class="row">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
  </div>  
</div>
