<div class="container">
  <div class="row">
    <h2>Productos</h2>
    {{ title }}
     <ul>
      <li *ngFor="let product of products">
        {{ product.name }}
      </li>
    </ul>
  </div>
  <div class="row">
      <div class="col s12 m6 l6">
        <!-- UNO -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

       <div class="col s12 m6 l6">
        <!-- DOS -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
        <!-- TRES -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
        <!-- CUATRO -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
               <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
        <!-- CINCO -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
        <!-- SEIS -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
        <!-- SIETE -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
        <!-- OCHO -->
        <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/50/nature/6">
              <span class="card-header-right">
                 <i class="material-icons dp48" alt="Dificultad 1" title="Dificultad 1">star</i>
                 <i class="material-icons dp48" alt="Dificultad 2" title="Dificultad 2">star</i>
                 <i class="material-icons dp48" alt="Dificultad 3" title="Dificultad 3">star</i>
                 <i class="material-icons dp48" alt="Dificultad 4" title="Dificultad 4">star</i>
                 <i class="material-icons dp48" alt="Dificultad 5" title="Dificultad 5">star</i>
              </span>
              <span class="card-title">Tomate</span>
            </div>
            <div class="card-content">
              <p>
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/Android_L/PNG/24/Plants/paper_bag_with_seeds-24.png" alt="Siembra" title="Siembra" width="24" />
                <span id="margin-right-10">Enero</span>       
                <img style="vertical-align: top" src="https://maxcdn.icons8.com/iOS7/PNG/25/DIY/garden_shears-25.png" alt="Recogida" title="Recogida" width="22">
                <span>Marzo</span>
                <span class="right">
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir nota">
                    <i class="material-icons dp48" title="Añadir nota">speaker_notes</i>
                  </a>
                  <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Añadir a favoritos">
                    <i class="material-icons dp48" title="Añadir a favoritos">star</i>
                  </a>
                </span>
              </p>
              
              <p id="margin-top-15">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
              </p>
            </div>
          </div>
        </div>
  </div>
</div>
