<h2>{{ type }} product</h2>

<!-- <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast 1!</a> -->
<div *ngIf="error">
  <label>ERRORs:</label>
  <p>{{ error }}</p>
</div>

<div>
  <label style="color:grey;">UUID</label>
  <input type="text" pInputText name="uuid" [(ngModel)]="product.uuid" disabled="true" [value]="product.uuid" size="35" />
  <!-- <input name="name" [(ngModel)]="product.name">
  <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Name is required</div>
  <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">Name should be 4 characters min</div> -->
</div>

<div>
  <label>Name</label>
  <input type="text" pInputText name="name" [(ngModel)]="product.name" size="35" />
  <!-- <input name="name" [(ngModel)]="product.name">
  <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Name is required</div>
  <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">Name should be 4 characters min</div> -->
</div>

<form #form>
  <div>
    <label>Photo</label>
    <!-- file -->
    <!--<p-fileUpload name="photo[]" url="http://localhost:3001/upload" (onUpload)="onUpload($event)" maxFileSize="100000000000"></p-fileUpload>-->
    <!-- <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." /> -->

    <!-- <input name="photo" [(ngModel)]="product.photo">
  <div *ngIf="photoCtrl.dirty && photoCtrl.hasError('required')">Photo is required</div> -->

    <p-fileUpload name="photo[]" url="http://localhost:3001/upload" (onUpload)="onUpload($event)" maxFileSize="1000000">
      <template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </template>
    </p-fileUpload>
  </div>
</form>

<div>
  <label>Difficulty</label>
  <input type="number" pInputText name="difficulty" [(ngModel)]="product.difficulty" min="1" max="5">
  <!-- <div *ngIf="difficultyCtrl.dirty && difficultyCtrl.hasError('required')">Difficulty is required</div> -->
</div>

<div>
  <label>Seed time</label>
  <p-dropdown name="seedtime" [options]="months" [(ngModel)]="product.seedtime"></p-dropdown>
  <!-- <input name="seedtime" [(ngModel)]="product.seedtime">
  <div *ngIf="seedtimeCtrl.dirty && seedtimeCtrl.hasError('required')">Seedtime is required</div> -->
</div>

<div>
  <label>Collect time</label>
  <p-dropdown name="collecttime" [options]="months" [(ngModel)]="product.collecttime" filter="true"></p-dropdown>
  <!-- <input name="collecttime" [(ngModel)]="product.collecttime"> -->
  <!-- <div *ngIf="collecttimeCtrl.dirty && collecttimeCtrl.hasError('required')">Collect time is required</div> -->
</div>

<!--<button type="submit" (click)="call()">{{ type }}</button>-->
<button type="submit" (click)="call()">{{ type }}</button>
<div>
  {{ product | json}}
</div>

<!--
newProduct()
editProduct()
-->